<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ticetac</title>
    <!-- To add in order to scale the view for mobiles -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/style.css">
  </head>
  <body>
    <%- include('navbar'); %>

    <div class="container">  

      <table class="table table-hover">
        <thead>
          <tr class="table-light">
            <th scope="col">N°</th>
            <th scope="col">Journey</th>
            <th scope="col">Date</th>
            <th scope="col">Date départure</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <% var totalCmd = 0;
          for (let i = 0 ; i < dataBasket.length ; i++) {
            dataBasket[i].price = parseInt(dataBasket[i].price)
          %>

          <tr class="table-light">
            <th scope="row"><%=[i]+1%></th>
            <td><%=dataBasket[i].departure%>/<%=dataBasket[i].arrival%></td>
            <td>02/05/2018</td>
            <td><%=dataBasket[i].departureTime%></td>
            <td><%=dataBasket[i].price%>€</td>
          </tr>
            <% totalCmd += dataBasket[i].price
          }%>
        </tbody>
        <tfoot class="table-danger">
          <tr>
            
            <td>Total</td>
            <td></td>
            <td></td>
            <td></td>
            <td><%=totalCmd%>€</td>
          </tr>
        </tfoot>
        
      </table>

      <td><div class="d-flex justify-content-center align-items-center">
        <button  id="mltbutton" href="/addtopastjourneyss" type=" form-floating submit" class="btn btn-danger">Confirm</button>         
    </div> </td>

      
   
        
    </div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<%- include('footer'); %>